/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 246, 242);
}

#index-header {
    text-align: center;
    font-family: 'Papyrus', serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(112, 66, 20);
    margin-top: 20px;
    margin-bottom: 20px;
}
.recipe-button {
    display: block;
    width: 400px;
    margin: 0 auto;
}
.recipe-button img{
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    width: 300px;
    height: auto;
    
}
.img-name {
    text-align: center;
    font-family: 'Papyrus', sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: -5px auto 50px auto;
}
.references{
    font-family: 'Papyrus', sans-serif;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-top: -5px;
    margin-bottom: 50px;
}

.navigation-links{
    text-align: left;
}
.navigation-links a{
    display: inline-block;
    margin: 20px;
    font-family: 'Lucida Console', sans-serif;
    font-size: 1rem;
    color: rgb(112, 66, 20);
}
.h2-recipe{
    font-family: 'Lucida Console', sans-serif;
    color: rgb(112, 66, 20);
    margin-top: 50px;
    margin-bottom: 2px;
    margin-left: 10px;
}
ul{
    margin-left: 30px;
    margin-top: 10px;
    list-style:square;
}
ol{

    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}
li{
    margin-top: 3px;
}
ol li::marker{
    font-weight: bold;
}
.description-text{
    font-family: 'Copperplate', sans-serif;
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
}
.recipe-header {
    text-align: center;
    font-family: 'Papyrus', serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(112, 66, 20);
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-name figcaption{
    font-size:medium;
}